/*
Theme Name: Your Child Theme
Description: Child theme for the Theme Blvd framework 
Author: Your name here
Template: akita
*/

/* 
Note: The parent theme does not include any CSS in 
style.css, and so you don't need to @import it here. 
*/

/* Add your custom CSS here. */